<div class="post_title">
    <h1>Edit User's Password</h1>
</div>
<div class="post_body">

<table>

<% form_for @user do |f| %>

    <tr>
        <th class="shower">
            First Name:
        </th>
        <td class="shower">
            <%=h @user.first_name %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Last Name:
        </th>
        <td class="shower">
            <%=h @user.last_name %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Email:
        </th>
        <td class="shower">
            <%=h @user.email %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Role:
        </th>
        <td class="shower">
            <%=h @user.access_role.name %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Login:
        </th>
        <td class="shower">
            <%=h @user.login %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Password:
        </th>
        <td class="shower">
            <%= f.password_field :password %>
        </td>
    </tr> 
    <tr>
        <th class="shower">
            Confirm Password:
        </th>
        <td class="shower">
            <%= f.password_field :password_confirmation %>
        </td>
    </tr> 
    <tr>
        <td colspan = "2">
            <br/>
            <%= submit_tag 'Submit' %>
       </td>
    </tr> 
    
<% end -%> 
   
</table>


</div> 